@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-brand-blue: #1E88E5;
  --color-brand-blue-hover: #1565C0;
  
  --color-brand-red: #E53935;
  --color-brand-red-hover: #C62828;
  
  --color-brand-yellow: #FDD835;
  --color-brand-yellow-hover: #FBC02D;
  
  --color-brand-green: #43A047;
  --color-brand-green-hover: #2E7D32;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  line-height: 1.6;
}

